.tomato {
    background-color: Tomato;
}

.orange {
    background-color: Orange;
}

.dodgerblue {
    background-color: DodgerBlue;
}

.mediumseagreen{
    background-color: Mediumseagreen;

}

.gray{
    background-color: gray;
}
.slateblue{
    background-color: slateblue;
}
.violet{
    background-color: violet;
}
.lightgray{
    background-color: lightgray;
    
}